* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

header {
    width: 100%;
    background-color: #ff6900;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    
}

#menù {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    gap: 15px;

}

a {
    text-decoration: none;
    color: white;
}

#logo, #categoria, #sezioni-sito {
    width: 200px;

}

img {
    width: 100%;
}

#sezioni-sito {
    display: flex;
    justify-content:flex-end;
    color: white;
    font-size: 18px;
    gap: 15px;
}


main {
    margin-top: 120px;
}

#sezione-prodotti{
    display: flex;
    justify-content: center;
}

#flex-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.prodotto {
    width: 32% ;
    margin-bottom: 70px;
}

.prodotto img{
    width: 100% ;
}

.marca{
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0 5px;
}

.nome-prodotto {
    font-size: 13px;
    padding: 0 0 3px;
}

.prezzo {
    font-size: 13px;
    color: red;
}
.prezzo.originale {
    text-decoration:line-through;
    color: black;
}

.sconto, .sostenibile {
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.sconto {
    background-color: red;
}
.sostenibile {
    background-color: green;
}

.info-promozioni {
    position: absolute;
    bottom: 50px;
}

.immagine-prodotto {
    position: relative;
}

.heart-hover {
    font-size: 30px;
    padding: 0 15px 0 10px;
    background-color: white;
    position: absolute ;
    right: 0px;
    top: 20px;
}

.immagine-prodotto:hover .heart-hover{
    display: flex;
    color: red ;
}

.prodotto-2 {
    display: none ;
    position: absolute ;
    right: 0;
    top: 0;
}

.immagine-prodotto:hover .prodotto-2 {
    display: flex;
}

footer {
    background-color: #1a1a1a;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

#link-footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

small {
    margin-right: 13px;
}

#social {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}